* {
  padding: 0%;
  margin: 0%;
  width: fit-content;
  height: fit-content; 
  border: none;
  background: rgb(0, 0, 0, 0);
}

body {
  color: white;
  font-family: 'Courier New', Courier, monospace; 
  background-color: rgb(21, 9, 76);
}

img {
  max-width: 100%;
  max-height: auto;
  object-fit: cover;
}

.planet {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#saturn {
  z-index: 1;
  filter: brightness(50%); 
  position: absolute;
  right: 20%;
  left: -9%;
  top: -1%;
  width: 30%;
  rotate: 230deg;
}

#earth {  
  z-index: 1;
  filter: brightness(50%); 
  position: absolute;
  top: 55%;
  left: 80%;
  width: 40%;
  rotate: 10deg;
}

div progress {
  appearance: none;
  filter: brightness(100%);
  position: absolute;
  border: 0em solid black;
  left: 25%;
  width: 50%;
  height: 2.5%;
  top: 5%;
}

progress::-webkit-progress-bar {
  background: #f0f0f0;
  border-radius: 12em;
  border: 0.1px solid #eeeeee;
  height: 100%;
  width: 100%; 
  overflow: hidden;
}

progress::-webkit-progress-value {
  background: #fdd4d6;
  border-radius: 12em;
  height: 100%;
  width: 100%;
}

button {
  z-index: 1;
  position: absolute;
  top: 20%;
  left: 1%;
  width: 100px;
  background-color: white;
}

.triangle {
  
}

.container {
  max-width: 100%;
  max-height: auto;
  object-fit: cover;
  z-index: 2;
  background-color: rgb(184, 185, 185);
  position: absolute;
  top: 12%;
  left: 20%;
  right: 20%;
  width: 60%;
  height: 73%;
  border-radius:1em;  
  padding: 1.5em;
}

.question {
  z-index: 2;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 5%;
  left: 6%;
  right: 6%;
  width: 82%;
  height: 35%;
  border-radius:1em;  
  padding: 1.5em;
  outline: 0.1em solid rgb(0, 0, 0);
}

.a1 {
  z-index: 2;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 55%;
  left: 6%;
  right: 6%;
  width: 82%;
  height: 1%;
  border-radius:1em;  
  padding: 1.5em;
  outline: 0.1em solid rgb(0, 0, 0);
}

.a2 {
  z-index: 2;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 70%;
  left: 6%;
  right: 6%;
  width: 82%;
  height: 1%;
  border-radius:1em;  
  padding: 1.5em;
  outline: 0.1em solid rgb(0, 0, 0);
}

.a3 {
  z-index: 2;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 85%;
  left: 6%;
  right: 6%;
  width: 82%;
  height: 1%;
  border-radius:1em;  
  padding: 1.5em;
  outline: 0.1em solid rgb(0, 0, 0);
}