@font-face {
  font-family : '이쁜폰트';
  src : url(nanumsquare.ttf);
  transform : rotate(0.04deg); 
}

* {
  padding: 0%;
  margin: 0%;
  width: fit-content;
  height: 100%; 
}

body {
  font-family : '이쁜폰트';
  /* overflow: hidden; */
  background-color: rgb(32, 20, 83);
  overflow-x: hidden;
}

.container {
  position: absolute;
  left: 25%;  
  width: 50%;
  height: 120%;
  top: -10%;
  /* 가로 센터 정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.my_planet {
  z-index: 2;
  width: 100%;
  height: 65%;
  left: 0%;
  background:rgb(255, 255, 255);
  border-radius: 1em;  
  /* 가운데 */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;   
  text-align: center;
}

img {
  width: 40%;
  height: auto;
  margin: auto;
  display: block;
}

/* 나의 행성 이미지 */
.my_planet img #uranus {
  position: absolute;
  width: 90%;
  height: 90%;
  rotate: 10deg;
}

/* 나의 행성 이름 */
.planet_title {
  position: absolute;
  padding-top: 5%;
  font-size: 230%;
  font-style: bold;
}

/* 나의 행성 한줄평 */
.planet_subtitle {
  position: absolute;
  padding-top: 150px;
  font-size: 130%;
  font-style: bold;
}

/* 행성 성격 설명 박스 */
.explain {
  z-index: 3;
  position: absolute;
  width: 80%;
  height: 7%;
  left: 6%;
  top: 79%;
  background:rgb(207, 207, 207);
  border-radius:1em;  
  padding: 1.5em;
  text-align: center;
}

/* 행성 성격 설명 */
.explain p {
  z-index: 3;
  position: absolute;
  width: 80%;
  height: 0%;
  background:rgb(207, 207, 207);
  border-radius:1em;
}

.same_planet {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 15%;
  top: 85%;
  left: 0%;
  background:rgb(255, 255, 255);
  border-radius: 1em;  
  text-align: center;
}

.same_planet .question {
  position: absolute;
  width: 100%;
  height: 20%;
  top: 13%;
  font-size: 115%;
}

.same_planet .percentage {
  position: absolute;
  width: 100%;
  height: 20%;
  top: 45px;
  font-size: 270%;
}

/* 좋은 행성 or 나쁜 행성 */
.other_planet {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 30%;
  top:  103%;
  border-radius:1em;  
  text-align: center;
}

/* 나와 잘 맞는 행성 */
.good_planet {
  position: absolute;
  width: 48%;
  height: 130%;
  top: 0%;
  background:rgb(255, 255, 255);
  border-radius:1em;  
  /* text-align: center; */
}

/* 잘 맞지 않는 행성 */
.bad_planet {
  position: absolute;
  width: 48%;
  height: 130%;
  left: 52%;
  top: 0%;
  background:rgb(255, 255, 255);
  border-radius:1em;  
  /* text-align: center; */
}

/* 나와 잘 맞는 행성 이미지 */
.good_planet img {
  position: absolute;
  width: 50%;
  height: auto;
  left: 25%;
  top: 8%;
}

/* 위의 행성 이름 */
.good_planet .title {
  position: absolute;
  width: 100%;
  height: 60%;
  top: 70%;
  font-size: 150%;
}

/* 위의 행성 소제목 */
.good_planet .sub_title {
  position: absolute;
  width: 100%;
  height: auto;
  top: 83%;
}

/* 나와 잘 맞지 않는 행성 이미지 */
.bad_planet img {
  position: absolute;
  width: 50%;
  height: auto;
  left: 25%;
  top: 8%;
}

/* 위의 행성 이름 */
.bad_planet .title {
  position: absolute;
  width: 100%;
  height: 60%;
  top: 70%;
  font-size: 150%;
}

/* 위의 행성 소제목 */
.bad_planet .sub_title {
  position: absolute;
  width: 100%;
  height: auto;
  top: 83%;
}

/* 전체 행성 */
.planet {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(32, 20, 83);
}

.planet #mercury {  
  z-index: 1;
  opacity: 0.2;
  position: absolute;
  width: 30%;
  height: 30%;
  top: 69%;
  left: 1%;
  rotate: 80deg;
}

.planet #saturn {
  z-index: 1;
  opacity: 0.2;
  position: absolute;
  width: 70%;
  height: 70%;
  left: 58%;
  top: 90%;
  rotate: -50deg;
}

.planet #uranus {
  z-index: 1;
  position: absolute;
  width: 10%;
  height: 10%;
  left: 78%;
  top: 20%;
  rotate: 10deg;
  opacity: 0.2;
}
