* {
  padding: 0%;
  margin: 0%;
  width: fit-content;
  height: fit-content; 
  border: none;
  background: rgb(0, 0, 0, 0);
}

body {
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
  background: rgb(33, 23, 80);
}

#sun {
  position: absolute;
  right: 78%;
  left: -10%;
  top: -18%;
  filter: drop-shadow(0px 0px 20px #aa1d1dc0);
  transform: rotate(0deg);
}

#mercury {
  transform: rotate(90deg);
  position: absolute;
  right: 65%;
  left: 30%;
  top: 10%;
  filter: drop-shadow(0px 0px 10px #ff714ec3);
}

#venus  {
  position: absolute;
  right: 53%;
  left: 40%;
  top: 17%;
  filter: drop-shadow(0px 0px 20px #ffb84eaf);
  transform: rotate(90deg);
}

#earth  {
  position: absolute;
  right: 48%;
  left: 43%;
  top: 50%;
  filter: drop-shadow(0px 0px 20px #87b570ba);
  transform: rotate(90deg);
}

#moon  {
  position: absolute;
  right: 64%;
  left: 32%;
  top: 50%;
  filter: drop-shadow(0px 0px 10px #c1c1c1ba);
  transform: rotate(90deg);
}

#mars {
  position: absolute;
  right: 38%;
  left: 54%;
  top: 70%;
  filter: drop-shadow(0px 0px 20px #c1431dc9);
  transform: rotate(90deg);
}

#saturn {
  position: absolute;
  right: 22%;
  left: 60%;
  top: 30%;
  filter: drop-shadow(0px 0px 20px #b6925dc1);
  transform: rotate(-90deg);
}

#jupiter {
  position: absolute;
  right: 12.5%;
  left: 75%;
  top: 65%;
  filter: drop-shadow(0px 0px 20px #b6925db7);
  transform: rotate(90deg);
}

#uranus {
  position: absolute;
  right:7%;
  left: 87%;
  top: 30%;
  filter: drop-shadow(0px 0px 20px #6dacd4be);
  transform: rotate(90deg);
}

#neptune {
  position: absolute;
  right:4%;
  left: 91%;
  top: 9%;
  filter: drop-shadow(0px 0px 20px #1448D4);
  transform: rotate(90deg);
}

#blackhole {
  position: absolute;
  right:77%;
  left: 5%;
  top: 55%;
  filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.50));
}

#pluto {
  position: absolute;
  right:64%;
  left: 30%;
  top: 82%;
  filter: drop-shadow(0px 0px 20px #FFC9A0);
  transform: rotate(90deg);
}

.planet {
  border-radius: 50%;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}

.planet img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.line1 {
  position: absolute;
  width: 16%;
  height: 0px;
  left: 17%;
  top: 13%;

  border: 5px solid #FFFFFF;
  transform: rotate(5deg);
}

.line2 {
  position: absolute;
  width: 14%;
  height: 0px;
  left: 32%;
  top: 19%;

  border: 5px solid #FFFFFF;
  transform: rotate(25deg);
}
.line3 {
  position: absolute;
  width: 15%;
  height: 0px;
  left: 38%;
  top: 39%;

  border: 5px solid #FFFFFF;
  transform: rotate(79deg);
}
.line3_1{
  position: absolute;
  width: 10%;
  height: 0px;
  left: 33%;
  top: 55%;

  border: 5px solid #FFFFFF;
  transform: rotate(15deg);
}
.line4 {
  position: absolute;
  width: 15%;
  height: 0px;
  left: 46%;
  top: 69%;

  border: 5px solid #FFFFFF;
  transform: rotate(45deg);
}
.line5 {
  position: absolute;
  width: 20%;
  height: 0px;
  left: 59%;
  top: 77%;

  border: 5px solid #FFFFFF;
  transform: rotate(1deg);
}
.line6 {
  position: absolute;
  width: 20%;
  height: 0px;
  left: 65%;
  top: 63%;

  border: 5px solid #FFFFFF;
  transform: rotate(50deg);
}
.line7 {
  position: absolute;
  width: 23%;
  height: 0px;
  left: 68%;
  top: 39%;

  border: 5px solid #FFFFFF;
  transform: rotate(-16deg);
}
.line8 {
  position: absolute;
  width: 15%;
  height: 0px;
  left: 84%;
  top: 26%;

  border: 5px solid #FFFFFF;
  transform: rotate(-78deg);
}
