* {
  padding: 0%;
  margin: 0%;
  width: fit-content;
  height: fit-content; 
  border: none;
  background: rgb(0, 0, 0, 0);
}

body {
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
  background: rgb(33, 23, 80);
}


#sun {
  position: absolute;
  width: 500px;
  height: 500px;
  left: -10%;
  top: -10%;
  filter: drop-shadow(0px 0px 15px #AA1D1D);
  transform: rotate(-160deg);
}

#mercury {
  transform: rotate(90deg);
  position: absolute;
  width: 100px;
  height: 100px;
  left: 30%;
  filter: drop-shadow(0px 0px -25px #FF714E);
  top: 10%;
}

#venus  {
  position: absolute;
  width: 120px;
  height: 120px;
  left: 40%;
  top: 17%;
  filter: drop-shadow(0px 0px 25px #87B570);
  transform: rotate(90deg);
}

#earth  {
  position: absolute;
  width: 140px;
  height: 140px;
  left: 43%;
  top: 50%;
  filter: drop-shadow(0px 0px 25px #B6925D);
  transform: rotate(90deg);
}

#mars {
  position: absolute;
  width: 130px;
  height: 130px;
  left: 54%;
  top: 70%;
  filter: drop-shadow(0px 0px 25px #C1431D);
  transform: rotate(90deg);
}

#saturn {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 60%;
  top: 30%;
  filter: drop-shadow(0px 0px 25px #B6925D);
  transform: rotate(-90deg);
}

#jupiter {
  position: absolute;
  width: 210px;
  height: 210px;
  left: 75%;
  top: 65%;
  filter: drop-shadow(0px 0px 25px #B6925D);
  transform: rotate(90deg);
}

#uranus {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 87%;
  top: 30%;
  filter: drop-shadow(0px 0px 25px #6DACD4);
  transform: rotate(90deg);
}

#neptune {
  position: absolute;
  width: 90px;
  height: 90px;
  left: 91%;
  top: 9%;
  filter: drop-shadow(0px 0px 25px #1448D4);
}

#blackhole {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 5%;
  top: 55%;
  filter: drop-shadow(0px 0px 25px rgba(255, 255, 255, 0.50));
  transform: rotate(-90deg);
}

#pluto {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 30%;
  top: 82%;
  filter: drop-shadow(0px 0px 20px #FFC9A0);
  transform: rotate(90deg);
}

.planet {
  border-radius: 50%;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.planet img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}