* {
  margin: 0%;
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v22_2 {
  width: 100%;
  height: 1024px;
  background: rgba(12,7,75,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_3 {
  width: 796px;
  height: 789px;
  background: url("../images/v27_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 357px;
  overflow: hidden;
}
.v27_4 {
  width: 471px;
  color: rgba(193,193,193,1);
  position: absolute;
  top: 785px;
  left: 523px;
  font-family: Aclonica;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v22_85 {
  width: 32px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 563px;
  left: 417px;
  transform: rotate(-33deg);
}
.v22_87 {
  width: 32px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 519px;
  left: 1222px;
  transform: rotate(-33deg);
}
.v22_89 {
  width: 32px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 920px;
  left: 869px;
  transform: rotate(-33deg);
}
.v22_90 {
  width: 32px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 125px;
  left: 509px;
  transform: rotate(-33deg);
}
.v22_91 {
  width: 32px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 307px;
  left: 80px;
  transform: rotate(-33deg);
}
.v22_15 {
  width: 411px;
  height: 586px;
  background: url("../images/v22_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.699999988079071;
  position: absolute;
  top: 227px;
  left: 886px;
  transform: rotate(-57deg);
  overflow: hidden;
}
.v22_16 {
  width: 272px;
  height: 272px;
  background: url("../images/v22_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.699999988079071;
  position: absolute;
  top: 629px;
  left: 1311px;
  overflow: hidden;
}
.v22_17 {
  width: 753px;
  height: 750px;
  background: url("../images/v22_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 576px;
  left: 416px;
  overflow: hidden;
}
.v22_18 {
  width: 114px;
  height: 114px;
  background: url("../images/v22_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.699999988079071;
  position: absolute;
  top: 72px;
  left: 295px;
  overflow: hidden;
}
.v29_2 {
  width: 143px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 571px;
  left: 149px;
  font-family: Aclonica;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
